In [1]:
import numpy as np, pandas as pd

sessions = pd.read_csv('../input/sessions.csv')

In [2]:
sessions.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435

In [5]:
sessions_parsed = sessions.groupby(['user_id'],as_index=False).aggregate(np.count_nonzero).rename(columns={'action':'session_count','secs_elapsed':'secs_tot'}).drop(['action_type','action_detail','device_type'],axis=1)
sessions_parsed['secs_tot'] = sessions.groupby(['user_id'],as_index=False).aggregate(np.sum)['secs_elapsed']
sessions_parsed['secs_avg'] = sessions_parsed['secs_tot']/sessions_parsed['session_count']
sessions_parsed.head()

      user_id  session_count  secs_tot      secs_avg
0  00023iyk9l             40    867896  21697.400000
1  0010k6l0om             63    586543   9310.206349
2  001wyh0pz8             90    282965   3144.055556
3  0028jgx1x1             31    297010   9580.967742
4  002qnbzfs5            789   6487080   8221.901141

In [8]:
from sklearn.preprocessing import LabelEncoder
from xgboost.sklearn import XGBClassifier
np.random.seed(0)
#Loading data
df_train = pd.read_csv('../input/train_users_2.csv')
df_test = pd.read_csv('../input/test_users.csv')
labels = df_train['country_destination'].values
df_train = df_train.drop(['country_destination'], axis=1)
id_test = df_test['id']
piv_train = df_train.shape[0]
#Creating a DataFrame with train+test data
df_all = pd.concat((df_train, df_test), axis=0, ignore_index=True)

In [9]:
df_all.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome

In [10]:
#Merge sessions_parsed to df_all
df_all = df_all.merge(sessions_parsed, how='left', left_on='id', right_on='user_id')
df_all.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,user_id,session_count,secs_tot,secs_avg
0,gxn3p5htnn,2010-06-28,20090319043255,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NaN,NaN,NaN,NaN
1,820tgsjxq7,2011-05-25,20090523174809,NaN,MALE,38,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NaN,NaN,NaN,NaN
2,4ft3gnwmtx,2010-09-28,20090609231247,2010-08-02,FEMALE,56,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,NaN,NaN,NaN,NaN
3,bjjt8pjhuk,2011-12-05,20091031060129,2012-09-08,FEMALE,42,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,NaN,NaN,NaN,NaN
4,87mebub9p4,2010-09-14,20091208061105,2010-02-18,-unknown-,41,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NaN,NaN,NaN,NaN

In [11]:
#Removing id and date_first_booking
df_all = df_all.drop(['id', 'date_first_booking', 'user_id'], axis=1)
#Filling nan
df_all = df_all.fillna(-1)

In [12]:
#####Feature engineering#######
#date_account_created
dac = np.vstack(df_all.date_account_created.astype(str).apply(lambda x: list(map(int, x.split('-')))).values)
df_all['dac_year'] = dac[:,0]
df_all['dac_month'] = dac[:,1]
df_all['dac_day'] = dac[:,2]
df_all = df_all.drop(['date_account_created'], axis=1)
#timestamp_first_active
tfa = np.vstack(df_all.timestamp_first_active.astype(str).apply(lambda x: list(map(int, [x[:4],x[4:6],x[6:8],x[8:10],x[10:12],x[12:14]]))).values)
df_all['tfa_year'] = tfa[:,0]
df_all['tfa_month'] = tfa[:,1]
df_all['tfa_day'] = tfa[:,2]
df_all = df_all.drop(['timestamp_first_active'], axis=1)
#Age
av = df_all.age.values
df_all['age'] = np.where(np.logical_or(av<14, av>100), -1, av)

In [13]:
#One-hot-encoding features
ohe_feats = ['gender', 'signup_method', 'signup_flow', 'language', 'affiliate_channel', 'affiliate_provider', 'first_affiliate_tracked', 'signup_app', 'first_device_type', 'first_browser']
for f in ohe_feats:
    df_all_dummy = pd.get_dummies(df_all[f], prefix=f)
    df_all = df_all.drop([f], axis=1)
    df_all = pd.concat((df_all, df_all_dummy), axis=1)

In [14]:
#Splitting train and test
vals = df_all.values
X = vals[:piv_train]
le = LabelEncoder()
y = le.fit_transform(labels)   
X_test = vals[piv_train:]

In [15]:
#Classifier
xgb = XGBClassifier(max_depth=6, learning_rate=0.25, n_estimators=45,
                    objective='multi:softprob', subsample=0.6, colsample_bytree=0.6, seed=0)                  
xgb.fit(X, y)
y_pred = xgb.predict_proba(X_test)

In [16]:
#Taking the 5 classes with highest probabilities
ids = []  #list of ids
cts = []  #list of countries
for i in range(len(id_test)):
    idx = id_test[i]
    ids += [idx]*5
    cts += le.inverse_transform(np.argsort(y_pred[i])[::-1])[:5].tolist()

In [17]:
#Generate submission
sub = pd.DataFrame(np.column_stack((ids, cts)), columns=['id', 'country'])
sub.head(50)

            id country
0   5uwns89zht     NDF
1   5uwns89zht      US
2   5uwns89zht   other
3   5uwns89zht      FR
4   5uwns89zht      IT
5   jtl0dijy2j     NDF
6   jtl0dijy2j      US
7   jtl0dijy2j   other
8   jtl0dijy2j      FR
9   jtl0dijy2j      ES
10  xx0ulgorjt     NDF
11  xx0ulgorjt      US
12  xx0ulgorjt   other
13  xx0ulgorjt      FR
14  xx0ulgorjt      ES
15  6c6puo6ix0     NDF
16  6c6puo6ix0      US
17  6c6puo6ix0   other
18  6c6puo6ix0      FR
19  6c6puo6ix0      GB
20  czqhjk3yfe     NDF
21  czqhjk3yfe      US
22  czqhjk3yfe   other
23  czqhjk3yfe      FR
24  czqhjk3yfe      IT
25  szx28ujmhf      US
26  szx28ujmhf     NDF
27  szx28ujmhf   other
28  szx28ujmhf      IT
29  szx28ujmhf      FR
30  guenkfjcbq     NDF
31  guenkfjcbq      US
32  guenkfjcbq   other
33  guenkfjcbq      FR
34  guenkfjcbq      IT
35  tkpq0mlugk     NDF
36  tkpq0mlugk      US
37  tkpq0mlugk   other
38  tkpq0mlugk      FR
39  tkpq0mlugk      IT
40  3xtgd5p9dn     NDF
41  3xtgd5p9dn      US
42  3xtgd5p9dn   other
43  3xtgd5p9dn      FR
44  3xtgd5p9dn      GB
45  md9aj22l5a     NDF
46  md9aj22l5a      US
47  md9aj22l5a   other
48  md9aj22l5a      FR
49  md9aj22l5a      PT

In [ ]:
sub.to_csv('../output/sub.csv',index=False)